# general
SHOW_CHANGED_FILES=true
SHOW_RAW_COMMITS=true
MAX_FILES=10        # truncate changed files list after N entries
MAX_COMMITS=10      # truncate commit list after N entries

# gitlab
GITLAB_BASE_URL=https://gitlab.com/api/v4
GITLAB_TOKEN=
GITLAB_PROJECT_ID=
GITLAB_PROJECT_NAME=
CI_COMMIT_SHA=
CI_COMMIT_BRANCH=

# OPEN AI
OPENAI_API_KEY=
OPENAI_MODEL=gtp-4o-mini

# slack
SLACK_BOT_TOKEN=xoxb-your-bot-token
SLACK_CHANNEL_ID=C0XXXXXXXXX